.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  box-shadow: 0px 0px 15px #888888;
  border-radius: 5px;
}

.Input {
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  width: 50%;
  height: 30px;
}

.Button {
  border: none;
  background-color: #888888;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.Error {
  color: red;
  font-weight: bold;
}
